html, body {
    width: 100%;
    height:100%;
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    display: flex;
    position: relative;
    display: flex;
}

h3{
    font-size: 2rem;
}

.mainHeader {
    text-align: center;
}

.mainContainer {
    margin:auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    width:90%;
    height:100%;
    background:rgb(255, 255, 255);
   
}

.topArea{
    display:flex;
    margin:auto;
    padding:0;
    margin:0;
    margin-right: auto;
    margin-left: auto;
    height:fit-content;
}

.chatArea {
    display: flex;
    flex-direction: column;
    
    border: solid rgb(90, 150, 228) 1px;
}

.chatContainer {
 
    display: flex;
    

    width: 100%;
    margin:auto;
    background: rgb(255, 255, 255);
 
}

.messageArea{
    border: solid rgb(0, 0, 0) 0.25rem;
    height:50vh;
    width:100%;
    overflow-y: scroll;
    margin:auto;
    padding-left: 2rem;
    
}

.messageArea p {
 
    font-size: 2rem;
}

.userInputArea{
  width:100%;

  display: grid;
  gap: 10%;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 2rem;
}

#inputMessage{
    font-size: 3rem;
    padding: 1rem;
    border:none;
    width:100%;
    margin:auto;
    border:0.25rem rgb(0, 0, 0) solid;


}
button {
    background: white;
    border:none;
    border:0.25rem rgb(0, 0, 0) solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:2rem;
    width:4rem;
    width:100%;
}